@import "./settings/colors";
@import "./settings/fonts";

.home-help-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 24px;
}

.home-help-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.help-btn {
  height: 70px;
  border: 1px solid $black;
  margin: 0 10px;
  font-size: 18px;
  width: 180px;
  margin-top: 20px;
  font-weight: 300;
  cursor: pointer;
}

.home-help-text {
  width: 50%;
  text-align: center;
  margin: 15px auto;
}

.home-help-list {
  height: 250px;
  font-family: $font-alt;
  font-weight: 300;
  padding: 0 130px;
}

.home-help-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  box-sizing: border-box;
  border-bottom: 1px solid $black;
}

.home-help-name {
  font-size: 16px;
  margin: 10px 0 2px 0;
}

.home-help-goal {
  font-size: 12px;
  margin: 0;
  font-style: italic;
}

.home-help-items {
  font-size: 12px;
}

.home-help-pagiante {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-help-page {
  border: 1px solid $black;
  height: 30px;
  width: 20px;
  margin: 5px 10px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
