@import "./settings/_fonts.scss";
@import "./settings/_colors.scss";
@import "./nav";
@import "./header";
@import "./three-columns";
@import "./steps";
@import "./about";
@import "./help";
@import "./form";
@import "./footer";

body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
}

.container {
  width: 100%;
}

a {
  color: $black;
}
